* {
  margin: 0;
  padding: 0;
}

.container {
  background: black;
  height:  100vh;
  overflow: hidden;
  display: flex;
}

img {
  width: 30%;
}

.wrapper {
  background-color: #fff;
  width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: #2F4F4F;
  margin: 40px 0;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #2F4F4F;
  border: 1px solid #2F4F4F;
  color: #fff;
  font-size: 20px;
  margin: 30px 0;

}